<div class="fp-container bg-gradient">
  <div class="fp-box mat-elevation-z8">
    <h1><span class="txt-primary">Forgot Password</span></h1>
    <form [formGroup]="forgotPasswordForm">
      <mat-form-field appearance="fill">
        <mat-label>Email : </mat-label>
        <mat-icon matPrefix>mail</mat-icon>
        <input type="email" matInput formControlName="email" placeholder="email" required>
        <mat-error> {{forgotPasswordForm.controls.email.errors|validateError:'Email '}} </mat-error>
      </mat-form-field>
      <br>
      <button mat-raised-button color="primary" (click)="forgotPassword()">Submit</button>
    </form>
  </div>
</div>
