@import '../../../styles/core';
.login-container{
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  h1{
    text-align: center;
  }
  .login-box{
    height: auto;
    padding: 3rem;
    background-color: $white-color;
    // max-width: 30rem;
    form{
      display: flex;
      flex-direction: column;
      mat-form-field{
        // width: 100%;
        width: 30rem;
      }
    }
  }
}
